* {
    font-family: 'Abel', sans-serif;
}

.content-header {
    position: relative;
    padding: 0px 15px 0 15px;
}

.validation-summary-errors ul {
    margin: 0px;
    padding: 0;
}

    .validation-summary-errors ul li {
        list-style: none;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
    }

/*----------Styles for validation helpers starts----------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}
/*----------Styles for validation helpers starts----------*/
.box > .loading-img {
    z-index: 1020;
    background: transparent url(img/ajax-loader1.gif) 50% 50% no-repeat;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border: 1px solid #367fa9;
    border-radius: 0px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}

.app-btn-choose {
    height: 31px;
    border: 1px solid #d2d6de;
}
.modal-content{
    margin-left:-100px;
}
